.container{
  padding: 20px 0 0 0;
}

#header{
  height: 80px;
  background-color: #193958;
}

#header-text{
  padding: 20px 0 20px 50px;
  color: #edf0f8;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.line-separator{
  height: 3px;
  margin: 5px 0;
  background-color: #919bc4;
}

.btn-function{
  background-color: #5d73f0;
}
